[submodule "lib/cpputest"]
	path = lib/cpputest
	url = https://github.com/cpputest/cpputest.git

[submodule "lib/json-maker"]
	path = lib/json-maker
	url = https://github.com/whatisbyandby/json-maker.git
